<div ng-controller="TrendController as tctrl"
  <div ng-init="makeCall()" class="trending">
    <div class="first-trend">
      <img ng-src="{{images[0]}}">
    </div>
    <div class="second-trend">
      <img ng-src="{{images[1]}}">
    </div>
    <div class="third-trend">
      <img ng-src="{{images[2]}}">
    </div>
  </div>
</div>

<h1>Want to keep up with your favorite Artists?</h1>
<h2>Now you can!</h2>

<div ng-controller="ArticleController as ctrl">
  <form>
    <label for="artist">Type an Artist</label>
    <input type="text" ng-model="ctrl.searchParams" id="artist">
    <input type="submit" ng-click="ctrl.makeCall()" value="Search">
  </form>
  </br>
  <div class="response" ng-repeat="d in data.response.news">
    <h3 class="title slide" ng-bind="d.name"></h3>
    <h4 ng-bind="d.date_found | date"></h4>
    <p class="summary slide" ng-bind="d.summary"></p>
  </div>
</div>
